/* line 3, /Users/McKelv1n/Desktop/Atom/getonit/source/stylesheets/header.scss */
header {
  background: url(http://assets.worldwildlife.org/photos/2325/images/hero_small/mountains-hero.jpg?1345838509);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }
  /* line 8, /Users/McKelv1n/Desktop/Atom/getonit/source/stylesheets/header.scss */
  header .nav {
    bottom-padding: 80px; }
  /* line 12, /Users/McKelv1n/Desktop/Atom/getonit/source/stylesheets/header.scss */
  header .sit {
    background: rgba(14, 39, 69, 0.6) no-repeat center center fixed;
    padding: 6em; }
  /* line 17, /Users/McKelv1n/Desktop/Atom/getonit/source/stylesheets/header.scss */
  header h1 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 4em;
    margin-bottom: 0; }
  /* line 23, /Users/McKelv1n/Desktop/Atom/getonit/source/stylesheets/header.scss */
  header h5 {
    color: #0E2745;
    margin-top: 0;
    font-size: 1em; }
