

<DOCTYPE html>
  <head>
  <%=  stylesheet_link_tag "surf" %>
    <link href='http://fonts.googleapis.com/css?family=Arimo:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'></head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <body>
    <header>
      <div class="sit">
        <div class="nav">
          <li><a href="SearchSite">Search </a></li>
          <li><a href="AboutPage">About  </a></li>
          <li><a href="blog">SKI & RIDE Co. BLOG</a></li>
        </div>
        <h1>SKI & RIDE Co.</h1>
        <h5>A JWade Project Est. January 2015</h5>
      </div>
    </header>







        <div class="col-md-8">
          <h1>Awesome Stuff About Snow Goes Here</h1>
          <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/72852_10152425844965066_649671076_n.jpg?oh=2f6fa26a6f8afc739cf23f846294b8a6&oe=5565D163&__gda__=1433072864_e0c81160111c77b7f5dde8c329e1fc70" height=30px width=30px class="img-circle"/>
          <span class="author">&nbsp Beard Guy <u>Friday Dec 13, 2015</u></span>
<br>
<br>

          <p>Snowhaven Bear Mountain Olga Pall June Mountain Keystone steeps Cochran's Ski Area Powder Mountain Big Sky. Crystal Mountain Buttermilk out-of-bounds Fisher Durango Lutsen Mountains stash Tommy Moe. Cruising Dartmouth Skiway Pirmin Zurbriggen Sitzmark Lifts Stowe Mountain Resort Ski Snowstar Snowbird Casablanca Glades corn snow. Northstar at Tahoe Tecnica carving Camden Snow Bowl Scarpa headwall dump Scott Schmidt Silver Mountain Mt. Ashland sideslip.</p>
          <p> Marielle Goitschel Snow King Powderhorn Mount Hood Ski Bowl green run. Alf Engen Aspen Highlands Kirkwood Snowbasin Porcupine Mountains Steeple Chase The Wall Timberline Hart expert Stowe Mountain Resort cliff. Jay Peak Henke deeps Final Fall Winter's Way pizza slice stem christie Eaton Mountain Northern Spy West Cirque Pine Mountain Aspen Mountain. Blizzard Kirkwood Brighton Doug Coombs Aspen Mountain Telemark Lodge Mt. Ashland Suicide Six. Black Mountain Koflach Boreal The Blizzard of Ahhs Echo Valley Kerma tree well stash. </p>

          <blockquote>
            <p>"I SNOW YOU DIDN'T !!!"</p>
          </blockquote>

          <p>Black diamond Pine Mountain China Peak Elk Ridge Ski Area snowplowing. Raichle pow faceplant West Cirque Cornice Bowl eagle Horse Chute. Powder China Peak Eaton Mountain Mad River Glen Spout Springs Mission Ridge Wachusett Mountain faceshots gnar Sundown The Wall. Wolf Creek free skiing Squaw Valley Stowe Mountain Resort. Atomic Blizzard Kastle Alta Sugarloaf Sun Valley Alpine Meadows. Kerma Tahoe Donner Murray Wais poma 6 Bells green run.</p>

          <p>The Bag and Kettle Beaver Mountain Tufulio's Ski Snowstar Henke. Whiteface free skiing Silver Mountain. Mount Eyak Maxwell's Greg Stump Snow Valley Barbara Cochran rip gondola Whiteface Sundance Snowhaven pizza slice. Homewood Mount Eyak Jean Vuarnet The Cliff Magic Mountain Mount Eyak Bear Mountain Plattekill. Henke Loveland Basin Raichle quiver Bob Beattie. Badger Pass Park City Suzy Chaffee Titcomb Mountain Ferguson Ridge Sugar Bowl SolVista Basin Tufulio's Celestial.</p>

          <br>
          <p>
            <button type="button" class="btn btn-primary btn-xs">Read Comments</button>
            <button type="button" class="btn btn-default btn-xs">Read later</button>
            <button type="button" class="btn btn-default btn-xs">Save this post</button>
          </p>
        </div>


        <div class="col-md-4">

          <br>
          <br>
          <br>
          <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/72852_10152425844965066_649671076_n.jpg?oh=2f6fa26a6f8afc739cf23f846294b8a6&oe=5565D163&__gda__=1433072864_e0c81160111c77b7f5dde8c329e1fc70" height=55% width=30% class="img-circle"/><br><br>
          <h7>Beard Guy</h7><br>
          <h9>Twitter | Facebook | Instagram</h9>
          <br>
          <br>
          <br>
          <br>
          <img src="http://1.bp.blogspot.com/-EUMBAFuwv0g/TYduO5rYW4I/AAAAAAAAAog/0sD7h-Rsl4g/s1600/Cody1.jpg" height=80% width=80%/>
        <!--  <div class="pics" style="background: url(http://epicmoms.com/wp-content/uploads/2014/03/Abasin_duff_man-200x300.jpg)" >
            <div class="overlay"></div> -->
          <br>
          <br>

          <h6>SIDEBAR SECTION HEADING</h6>

          <p>Paradise schuss Brighton biff Kerma Bolton Valley Resort Mission Ridge. Smugglers' Notch steeps Steamboat Skiland ferme Mount Waterman freshies. Chinese downhill Jackson Hole Bridger Bowl out-of-bounds powder stash Fischer Billy Kid chute shred Volkl. Tyrolia Eagle Point Skiland.Paradise schuss Brighton biff</p>
        </div>




<section>
          <footer>

            <HR>
              <h3> MOST POPULAR POSTS </h3>
              <div class="container-fluid">
                <div class="row popular-images-row">

                  <section>
                    <div class="pics" style="background: url(http://epicmoms.com/wp-content/uploads/2014/03/Abasin_duff_man-200x300.jpg)" >
                      <div class="overlay"></div>

                    </div>

                    <div class="pics" style="background: url(http://wlth.com/news/wp-content/uploads/2014/06/snowboard-baby-grom.jpg)">
                      <div class="overlay"></div>
                    </div>

                    <div class="pics" style="background: url(http://img6.onthesnow.com/image/la/76/skiing_april_taking_spring_break_slopes_2_76661.jpg)">
                      <div class="overlay"></div>
                    </div>

                    <div class="pics" style="background: url(http://xtoutfitters.eu/wp-content/uploads/2013/02/url-2.jpeg)">
                      <div class="overlay"></div>
                    </div>
                  </div>
                </div>
              </section>
              <div class="footer">
                <div class="logo" style="float:left;"> <img src="http://theironyard.com/images/footer-logo.png" style="preserveAspectRatio=MinYMin slice"> Copyright 2015. All rights reserved.</div>
                <ul>
                  <li><a href="default.asp">Nav Item 4</a></li>
                  <li><a href="news.asp"> Nav Item 3 |&nbsp</a></li>
                  <li><a href="contact.asp"> Nav Item 2 |&nbsp</a></li>
                  <li><a href="about.asp"> Nav Item 1 |&nbsp</a></li>
                </ul>

              </footer>
            </section>





  </body>
</html>
